<!--
Arquivo gerado automaticamente pelo build.
Caso deseje bloquear o parser nesse arquivo, basta adicionar o caracter #(cerquilha) antes da palavra a seguir
#FileLocked
-->
{% extends "core/index_app.html" %}
{% load base %}
{% block title %}
    Portifolio
{% endblock title %}
{% block title_modulo %}
    Portifolio
{% endblock title_modulo %}
{% block content %}
<div class="row clearfix">
    <div class="row clearfix">       
        <div class="col-md-6 col-sm-12 mb-5">
            <div class="p-3 br-card h-100 rounder-md" id="cardundefined">
                <h4 class="mb-15 text-blue">Dados</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {% if dadosprincipais %}
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:dadosprincipais-update' dadosprincipais.pk %}">{{ 'Dados Principais'}}
                                </a>
                            {% else %}
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:dadosprincipais-create' %}">{{ 'Dados Principais' }}</a>
                            {% endif %}
                        </div>
        
                        <div class="col-md-6 mb-3">
                            {% if secaosobre %}
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:secaosobre-update' secaosobre.pk %}">{{ 'Seção Sobre' }}</a>
                            {% else %}
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:secaosobre-create' %}">{{ 'Seção Sobre' }}</a>
                            {% endif %}
                        </div>

                        <div class="col-md-6 mb-3">
                            {% if secaocontato %}
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:secaocontato-update' secaocontato.pk %}">{{ 'Seção Contato' }}</a>
                            {% else %}
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:secaocontato-create' %}">{{ 'Seção Contato' }}</a>
                            {% endif %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:parceiros-list' %}">{{ 'Parceiros' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 mb-5">
            <div class="p-3 br-card h-100 rounder-md" id="cardundefined">
                <h4 class="mb-15 text-blue">Fotos</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:foto-list' %}">{{ 'Todas as Fotos' }}</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:imagemheader-list' %}">{{ 'Imagens em Destaque' }}</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:categoria-list' %}">{{ 'Categorias' }}</a>
                        </div>
                        <div class="col-md-6 mb-3">
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:album-list' %}">{{ 'Álbums' }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 mb-5">
            <div class="p-3 br-card h-100 rounder-md" id="cardundefined">
                <h4 class="mb-15 text-blue">Mensagens</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <a class="br-button secondary block large text-wrap"
                                href="{% url 'portifolio:mensagemcontato-list' %}">{{ 'Mensagens de Contato' }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</div>
</div>    
{% endblock content %}
