alabaster==0.7.16
arrow==1.3.0
asgiref==3.8.1
attrs==23.2.0
autoflake==2.3.1
autopep8==2.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
black==24.4.2
Brotli==1.1.0
cachetools==5.5.2
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cookiecutter==2.3.0
coverage==7.5.3
cssbeautifier==1.15.1
cssselect2==0.7.0
dateparser==1.2.0
dj-rest-auth==6.0.0
Django==4.2.13
django-ckeditor==6.7.1
django-cors-headers==4.7.0
django-debug-toolbar==4.4.2
django-dia==0.5.0
django-extensions==3.2.3
django-filter==24.2
django-image-optimizer==1.0.3
django-js-asset==2.2.0
django-storages==1.14.5
django-tempus-dominus==5.1.2.17
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
djlint==1.34.1
docutils==0.20.1
drf-jsonmask==0.4.0
drf-spectacular==0.27.2
ecs-logging==2.1.0
EditorConfig==0.12.4
elastic-apm==6.22.2
exceptiongroup==1.2.1
Faker==25.5.0
fonttools==4.53.0
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-core==2.4.2
google-cloud-storage==3.1.0
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
gunicorn==22.0.0
holidays==0.50
html-tag-names==0.1.2
html-void-elements==0.1.0
html5lib==1.1
idna==3.7
imagesize==1.4.1
inflection==0.5.1
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.4
jsbeautifier==1.15.1
json5==0.9.25
jsonmask==0.1.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
libsass==0.23.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.0
mkdocs-autorefs==1.0.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.5.25
mkdocs-material-extensions==1.3.1
mkdocs-with-pdf==0.9.3
mkdocstrings==0.25.1
model-bakery==1.18.1
mypy-extensions==1.0.0
packaging==24.0
paginate==0.5.6
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
proto-plus==1.26.0
protobuf==5.29.3
psutil==5.9.8
psycopg==3.1.19
psycopg-binary==3.1.19
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycodestyle==2.11.1
pycparser==2.22
pydyf==0.10.0
pyflakes==3.2.0
Pygments==2.18.0
PyJWT==2.8.0
pymdown-extensions==10.8.1
pyphen==0.15.0
pytest==8.2.2
pytest-cov==5.0.0
pytest-django==4.8.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-resize-image==1.1.20
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.1
pyyaml_env_tag==0.1
referencing==0.35.1
regex==2023.12.25
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
sentry-sdk==2.4.0
six==1.16.0
smmap==5.0.2
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sqlparse==0.5.0
taskipy==1.12.2
text-unidecode==1.3
tinify==1.6.0
tinycss2==1.3.0
tomli==2.0.1
tqdm==4.66.4
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==2.2.1
validate-docbr==1.10.0
watchdog==4.0.1
weasyprint==62.2
webencodings==0.5.1
wrapt==1.16.0
zopfli==0.2.3
firebase-admin==6.6.0